In [6]:
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt

/Users/victoriaantinucci/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [7]:
path_list = glob.glob('*.csv')

In [9]:
path_list[:7]

['101_filtertask_2016_Jun_07_1140 copy.csv',
 '102_filtertask_2016_Jun_15_1142 copy.csv',
 '3_filtertask_2016_Jul_08_1036 copy.csv',
 '5_filtertask_2016_Jul_15_1040 copy.csv',
 '6_filtertask_2016_Jul_19_1233 copy.csv',
 '7_filtertask_2016_Jul_21_1437 copy.csv']

In [10]:
len(path_list)

6

In [11]:
temp_df = pd.read_csv(path_list[0])

In [12]:
temp_df.head()

,load,filter,trial_size,probe_type,start_time,quadrant,filter_size,corr_ans,trial_dot_start,sample_trial.thisRepN,...,key_resp_3.keys,key_resp_3.rt,key_resp_7.keys,key_resp_7.rt,date,frameRate,expName,session,participant,Unnamed: 42
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
3,low,early,2.0,correct,1.0,1.0,large,1.0,3.5,0.0,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
4,low,late,4.0,outside_two,4.5,2.0,large,0.0,5.0,0.0,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN

In [13]:
temp_path = path_list[0]
temp_path

'101_filtertask_2016_Jun_07_1140 copy.csv'

In [14]:
combined_df = pd.DataFrame()

In [15]:
i = 0 
df_list = []
for path in path_list:
    temp_df = pd.read_csv(path, header =0, index_col=None)
    df_list.append(temp_df)

In [16]:
combined_df = pd.concat(df_list)

In [17]:
combined_df.to_csv("combined_data.csv", index=False)

In [18]:
combined_df.head()

,load,filter,trial_size,probe_type,start_time,quadrant,filter_size,corr_ans,trial_dot_start,sample_trial.thisRepN,...,key_resp_3.keys,key_resp_3.rt,key_resp_7.keys,key_resp_7.rt,date,frameRate,expName,session,participant,Unnamed: 42
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
3,low,early,2.0,correct,1.0,1.0,large,1.0,3.5,0.0,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN
4,low,late,4.0,outside_two,4.5,2.0,large,0.0,5.0,0.0,...,NaN,NaN,NaN,NaN,2016_Jun_07_1140,59.924022,filtertask,1,101,NaN

In [19]:
len(combined_df)

630